nav {
  background-color: white;
  height: 80px;
  box-shadow: 0 2px 2px rgb(231, 231, 233);
}
/* after scroll  */
.nav2 {
  height: 72px;
}
.nav-link {
  font-size: 13px;
  text-transform: uppercase;
  font-family: cursive, Arial, sans-serif;
  color: #4ebaec;
  font-weight: 700;
}
.logo {
  text-decoration: none;
  position: absolute;
  float: left;
  padding-top: 11px;
  padding-left: 50px;
}
img {
  width: 240px;
  height: 60px;
}
.sign {
  position: static;
  float: right;
  margin-right: 30px;
  margin-top: -34px;
}
.btn {
  font-size: 17px;
  width: 95px;
}
.nav-item {
  text-decoration: none;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}
.nav-item:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #dfe2ea;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: 0.3s;
}
.is-active:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #4ebaec;
  border-radius: 8px 8px 0 0;
  opacity: 1;
  bottom: -16px;
}
.nav-item:not(.is-active):hover:after {
  opacity: 1;
  bottom: -16px;
}

/* set up button */
.navbtn,
.login {
  display: none;
}

/* cutom navbar for small device */
@media (max-width: 1100px) {
  .logo {
    padding-left: 8px;
  }
}
@media (max-width: 992px) {
  .nav,
  .sign {
    display: none;
  }
  .navbtn {
    float: right;
    display: block;
    border: 2px solid #2a9134;
    padding: 3px;
    background-color: white;
    margin-top: 20px;
    margin-right: 35px;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    background: #2a9134;
    transition: all 0.5s ease;
  }
  .change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
  }
  /* quand click sur le bouton du menu */
  .nav {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    margin-top: 84px;
    right: 100%;
    text-align: center;
    transition: all 0.4s;
    z-index: 100;
  }
  .menu-clicked {
    right: 0;
  }
  ul li {
    margin-right: 0 !important;
    margin-bottom: 24px;
  }
  .nav-link {
    font-size: 16px;
    color: black;
  }
  .is-active .nav-link {
    color: #4ebaec;
    background-color: #dfe2ea;
  }
  .nav-item:after,
  .nav-item:hover:after,
  .is-active:after {
    opacity: 1;
    bottom: -16px;
    height: 1px;
    background-color: #dfe2ea;
  }
  .login {
    display: block;
  }

  /* set view for device have < 400 px */
  @media (max-width: 400px) {
    .logo {
      padding-top: 11px;
      padding-left: 15px;
    }
    img {
      width: 200px;
      height: 50px;
    }
    nav {
      height: 67px;
    }
    .nav {
      margin-top: 70px;
    }
    .navbtn {
      margin-top: 14px;
      margin-right: 25px;
    }
  }
}

.userdetails {
  background-color: transparent;
  border-color: #0079d3;
  color: #0079d3;
  fill: #0079d3;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  border: 0px;
}

.account-icon {
  border-radius: 4px;
  float: left;
  margin-right: 5px;
  max-height: 24px;
  max-width: 24px;
}
