<div class="jumbotron img-jmbo">
  <div class="container">
    <h1 class="text-white">Welcome lister les projets</h1>
    <p class="text-white">lister les projets existants dans la région Al-Hoceima.pour ajouter un projet cliquez ici</p>
    <button routerLink="/create-projet" class="btn btn-primary">Add new Projet</button>
  </div>
</div>
<div class="reddit-body">
  <div class="container">
    <div class="row">
        <app-post-projet [projets]="projets"></app-post-projet>
    </div>
  </div>
</div>



