.carousel-caption {
  display: block;
  position: absolute;
  left: 13%;
  top: 90px;
  z-index: 10;
  padding: 0;
  color: #fff;
  text-align: left;
}
h1 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 24px;
}
.text_slid {
  width: 55%;
  font-family: "Cascadia Code";
  line-height: 30px;
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
  z-index: 1;
}

@media (max-width: 992px) {
  .carousel-caption {
    top: 65px;
  }
  img {
    height: 400px !important;
  }
  p {
    width: 90%;
  }

  @media (max-width: 424px) {
    .carousel-caption {
      top: 40px;
    }
    p {
      text-align: left;
      width: 100%;
    }
    @media (max-width: 350px) {
      img {
        height: 465px !important;
      }
    }
  }
}

.about_title {
  text-align: center;
  font-size: 26px;
  text-decoration: underline 3px solid #2abeeb;
  text-underline-position: under;
  font-weight: 700;
  color: red;
  font-family: cursive2;
  margin-top: 35px;
}

.text_about {
  font-family: "Cascadia Code";
  font-size: 19px;
  font-weight: 100;
  color: #535e61;
}
.image_about {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 2px;
}
.review {
  border: 1px solid rgb(183, 193, 194);
  border-radius: 4px;
  background-color: #f5f1e9;
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
}
#about {
}
