<div class="sidebar">
   <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">
   <div style="text-align: center; font-size: 1em">Welcome to E-investisement invest page. Come here to
       check in with your favorite projects.</div>
   <div style="text-align: center">
       <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
   </div>
   <div style="text-align: center">
       <button class="btnCreateSubreddit" (click)="postExistingProject()">Post existing projects</button>
   </div>
</div>