<nav>
  <div>

    <a class="logo" href="#">
      <img src="./assets/img/logo4.png" width="240px" height="60px" alt="">
    </a>

    <ul class="nav nav-pills justify-content-center pt-2">
      <li class="nav-item mr-3">
          <a class="nav-link" href="#">Investir</a>
      </li>
      <li class="nav-item mr-3">
          <a class="nav-link" href="#">Projet Existent</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Statistique</a>
      </li>
      
    </ul>

    <a class="sign" href="#">
      <button class="btn btn-outline-info mr-2">Sign in</button>
      <button class="btn btn-info">Sign up</button>
    </a>

  </div>
</nav>