

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Existing Projects</h2>
        </div>
      </div>
    </div><br>



    <div  class="flex row justify-content-center">
      <div *ngFor="let currentProjet of projets" class="col-md-4 d-flex align-items-stretchss" >
        <div class="card shadow mt-4" style="width: 22rem;">
          <div class="inner">
            <a routerLink="/projets/{{currentProjet.idProjet}}}">
              <img class="card-img-top" src="{{currentProjet.imageUrl}}" alt="Card image cap" style="height: 250px">
            </a>
          </div>
          <div class="card-body text-center">
            <h3 class="title">{{currentProjet.titre}}</h3>
            <p class="date">{{currentProjet.duration}}</p>
            <p class="more-btn">
              {{currentProjet.description}}
            </p>
          </div>
          <div class="card-footer text-muted text-center">
            Chiffre d'affaire:{{currentProjet.turnover| currency:'MAD'}}
          </div>
        </div>
      </div>
    </div><br>

    <div *ngIf="projets?.length==0" class="alert alert-warning col-xl-9 mx-auto" role="alert">
      <div class="cta-inner text-center rounded">
        <h5 class="text-muted">No Projects Found.</h5>
        <br>
        <button routerLink="/home" type="button" class="btn btn-secondary">GO BACK HOME</button>
      </div>
    </div>


  </div>
</section>
